<app-menu></app-menu>
<div class="container" style="margin-top: 25px;">
    <div class="row">
        <div class="col">
            <h4>Registro de Venta de Entradas</h4>
        </div>
        <div class="col">
            <button routerLink="/" class="float-right btn btn-sm btn-warning shadow-sm"><i class="fas fa-arrow-left"></i> Volver</button>
        </div>
    </div>

    <div class="card shadow">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>Seleccione una tarifa: </label>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Monto</th>
                            <th scope="col">Tipo entrada</th>
                            <th scope="col">Tipo Visita</th>
                            <th scope="col">Selección</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th></th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td><button type="button" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Seleccionar tarifa"><i class="fas fa-check"></i></button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </form>
        </div>
    </div>
</div>
